--
-- PostgreSQL database dump
--

\restrict ZSYUdcIYPTD7rQrwkSHrdpgSred1DfJnbcOygy0aiZfXOVdEwPMCyJmpa9NW7kQ

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: curriculum_coverage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.curriculum_coverage (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    teacher_assignment_id uuid NOT NULL,
    scheme_id uuid NOT NULL,
    scheme_lesson_id uuid NOT NULL,
    record_of_work_id uuid NOT NULL,
    date_completed date NOT NULL,
    strand character varying(255) NOT NULL,
    sub_strand character varying(255) NOT NULL,
    week_number integer NOT NULL,
    completed boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.curriculum_coverage OWNER TO postgres;

--
-- Name: lesson_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_notes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school_id uuid NOT NULL,
    lesson_plan_id uuid NOT NULL,
    note_content text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lesson_notes OWNER TO postgres;

--
-- Name: lesson_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_plans (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school_id uuid NOT NULL,
    teacher_assignment_id uuid NOT NULL,
    scheme_lesson_id uuid NOT NULL,
    lesson_date date NOT NULL,
    introduction text,
    lesson_development text,
    conclusion text,
    reflection text,
    status character varying(50) DEFAULT 'Draft'::character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lesson_plans OWNER TO postgres;

--
-- Name: records_of_work; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.records_of_work (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school_id uuid NOT NULL,
    lesson_plan_id uuid NOT NULL,
    date_taught date NOT NULL,
    content_covered text,
    learner_response text,
    teacher_reflection text,
    status character varying(50) DEFAULT 'Pending'::character varying,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.records_of_work OWNER TO postgres;

--
-- Name: teacher_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher_assignments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    learning_area_id uuid NOT NULL,
    grade_id uuid NOT NULL,
    stream_id uuid,
    academic_year_id uuid NOT NULL,
    term_id uuid NOT NULL,
    is_class_teacher boolean DEFAULT false,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    lessons_per_week integer
);


ALTER TABLE public.teacher_assignments OWNER TO postgres;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teachers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    school_id uuid NOT NULL,
    user_id uuid NOT NULL,
    tsc_no character varying(50),
    staff_no character varying(50),
    gender character varying(20),
    designation character varying(100),
    employment_type character varying(50),
    phone character varying(30),
    email character varying(255),
    national_id character varying(50),
    date_joined date,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp without time zone,
    deleted_by uuid
);


ALTER TABLE public.teachers OWNER TO postgres;

--
-- Name: curriculum_coverage curriculum_coverage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.curriculum_coverage
    ADD CONSTRAINT curriculum_coverage_pkey PRIMARY KEY (id);


--
-- Name: lesson_notes lesson_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_notes
    ADD CONSTRAINT lesson_notes_pkey PRIMARY KEY (id);


--
-- Name: lesson_plans lesson_plans_assignment_lesson_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT lesson_plans_assignment_lesson_unique UNIQUE (teacher_assignment_id, scheme_lesson_id);


--
-- Name: lesson_plans lesson_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT lesson_plans_pkey PRIMARY KEY (id);


--
-- Name: records_of_work records_of_work_lesson_plan_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.records_of_work
    ADD CONSTRAINT records_of_work_lesson_plan_unique UNIQUE (lesson_plan_id);


--
-- Name: records_of_work records_of_work_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.records_of_work
    ADD CONSTRAINT records_of_work_pkey PRIMARY KEY (id);


--
-- Name: teacher_assignments teacher_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT teacher_assignments_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_tsc_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_tsc_no_key UNIQUE (tsc_no);


--
-- Name: teachers teachers_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_key UNIQUE (user_id);


--
-- Name: idx_teacher_assignments_learning_area; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_teacher_assignments_learning_area ON public.teacher_assignments USING btree (learning_area_id);


--
-- Name: idx_teacher_assignments_school; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_teacher_assignments_school ON public.teacher_assignments USING btree (school_id);


--
-- Name: idx_teacher_assignments_teacher; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_teacher_assignments_teacher ON public.teacher_assignments USING btree (teacher_id);


--
-- Name: idx_teachers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_teachers_active ON public.teachers USING btree (active);


--
-- Name: idx_teachers_school; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_teachers_school ON public.teachers USING btree (school_id);


--
-- Name: lesson_notes fk_ln_lesson_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_notes
    ADD CONSTRAINT fk_ln_lesson_plan FOREIGN KEY (lesson_plan_id) REFERENCES public.lesson_plans(id);


--
-- Name: lesson_notes fk_ln_school; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_notes
    ADD CONSTRAINT fk_ln_school FOREIGN KEY (school_id) REFERENCES public.schools(id);


--
-- Name: lesson_notes fk_ln_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_notes
    ADD CONSTRAINT fk_ln_user FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: lesson_plans fk_lp_assignment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT fk_lp_assignment FOREIGN KEY (teacher_assignment_id) REFERENCES public.teacher_assignments(id);


--
-- Name: lesson_plans fk_lp_scheme_lesson; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT fk_lp_scheme_lesson FOREIGN KEY (scheme_lesson_id) REFERENCES public.scheme_lessons(id);


--
-- Name: lesson_plans fk_lp_school; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT fk_lp_school FOREIGN KEY (school_id) REFERENCES public.schools(id);


--
-- Name: lesson_plans fk_lp_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_plans
    ADD CONSTRAINT fk_lp_user FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: records_of_work fk_row_lesson_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.records_of_work
    ADD CONSTRAINT fk_row_lesson_plan FOREIGN KEY (lesson_plan_id) REFERENCES public.lesson_plans(id);


--
-- Name: records_of_work fk_row_school; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.records_of_work
    ADD CONSTRAINT fk_row_school FOREIGN KEY (school_id) REFERENCES public.schools(id);


--
-- Name: records_of_work fk_row_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.records_of_work
    ADD CONSTRAINT fk_row_user FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: teacher_assignments fk_ta_grade; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_grade FOREIGN KEY (grade_id) REFERENCES public.grades(id);


--
-- Name: teacher_assignments fk_ta_learning_area; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_learning_area FOREIGN KEY (learning_area_id) REFERENCES public.learning_areas(id);


--
-- Name: teacher_assignments fk_ta_school; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_school FOREIGN KEY (school_id) REFERENCES public.schools(id);


--
-- Name: teacher_assignments fk_ta_stream; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_stream FOREIGN KEY (stream_id) REFERENCES public.streams(id);


--
-- Name: teacher_assignments fk_ta_teacher; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_teacher FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: teacher_assignments fk_ta_term; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_term FOREIGN KEY (term_id) REFERENCES public.terms(id);


--
-- Name: teacher_assignments fk_ta_year; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_assignments
    ADD CONSTRAINT fk_ta_year FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id);


--
-- Name: teachers fk_teacher_school; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teacher_school FOREIGN KEY (school_id) REFERENCES public.schools(id);


--
-- Name: teachers fk_teacher_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teacher_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: teachers fk_teachers_deleted_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT fk_teachers_deleted_by FOREIGN KEY (deleted_by) REFERENCES public.teachers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZSYUdcIYPTD7rQrwkSHrdpgSred1DfJnbcOygy0aiZfXOVdEwPMCyJmpa9NW7kQ

